# Eclipse

.project

.classpath

.settings/



# IntelliJ

*.iml

*.ipr

*.iws

.idea

.settings



# Maven

target/
pom.xml.tag
**/pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties


#Gradle

.gradle
build/


# TestNG

test-output/




*.log

#linux te files
*~

#macos
.DS_Store
**/.DS_Store