# Eclipse

.project

.classpath

.settings/



# IntelliJ

*.iml

*.ipr

*.iws

.idea

.settings



# Maven

target/



#Gradle

.gradle
build/


# TestNG

test-output/




*.log

#linux te files
*~

#macos
.DS_Store